aside.app-sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 48px;
}

aside .Buttons {
  position: absolute;
  top: 120px;
}

aside .Buttons li {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  list-style: none;
  border-radius: 8px;
  transition: all 0.4s;
}

aside .Buttons li a{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  
}

aside .Buttons li:hover {
  background: #f6d365;
}
aside .Buttons li:hover a svg {
  transition: all 0.4s;
  transform: scale(1.2)
}


aside.app-sidebar footer a, aside.app-sidebar footer button {
  width: 48px;
  height: 48px;
  border: 0;
  background: #f6d365;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.app-sidebar footer a:hover, aside.app-sidebar footer button:hover {
  background: #f6d465c7;
}