.container-dashboard{
    display: flex;
    flex-direction: column;
}

.titles{
    margin-top: 80px;
    margin-left: 80px;
    color: black;
}

.container-charts{
    display: flex;
    max-width: 90vw;
    flex-wrap: wrap;
    margin-left: 150px;
}

.charts{
    margin-top: 150px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    color: black;
}

