#page-map {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

#page-map aside {
    width: 440px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.filters{
    flex: 1;
}
.slider{
    margin: 18px 0;
}
.desease-list {
   margin-top: 48px;
}
.desease-list ul li{
    list-style: none;
}
.desease-list ul li label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.6s;
}

.desease-list ul li label input {
    position: absolute;
    opacity: 0;
    left: 0;
    z-index: 90;
    cursor: pointer;
    transition: all 0.6s;
}

.desease-list ul li label span {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    transition: all 0.6s;
}

.desease-list ul li label:hover input ~ span{
    transform: rotate(90deg);
    border-radius: 50%;
}

.desease-list ul li label input:checked ~ span{
    background-color: #fff;
    border: 1px solid rgb(18, 190, 27);
    border-radius: 50%;
}

.submit button{
    border: none;
    outline: none;
    background: #fff;
    color: #666;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 24px;
    transition: all 0.6s;
    cursor: pointer;
}
.submit button:hover{
    background: rgb(235, 235, 235);
}


#page-map aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p {
    line-height: 28px;
    margin-top: 24px;
    text-align: center;
    border-bottom: 1px solid #f6d365 ;
}

#page-map aside footer {
    display: flex;
    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
    margin-right: 10px;
}

#page-map .create-orphanage{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    background: #f6d365;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 400;
}

#page-map .create-orphanage:hover{
    background: #f6d365;
}

#page-map .map-popup .leaflet-popup-content-wrapper{
    background: rgba(255, 255, 255, 0.904);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content{
    color: #eebc1a;
    font-size:20px;
    margin: 8px 12px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a{
    width: 40px;
    height: 40px;
    background: #f6d365;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

}